version: '3.8'
services:

  php-fpm:
    build: 
      context: .
      dockerfile_inline: |
        FROM php:fpm
        RUN docker-php-ext-install pdo pdo_mysql
    restart: unless-stopped
    volumes:
      - ./data/www:/var/www

  spletni-streznik:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./data/www:/var/www:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php-fpm

  mysql:
    hostname: podatkovna-baza
    image: mysql:latest
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ./data/mysql:/var/lib/mysql
    ports:
      - "3307:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    restart: unless-stopped
    ports:
      - "8001:80"
    environment:
      PMA_HOST: podatkovna-baza